# Ladybug House Caregiver Analysis Survey 

## By: Patrick L. Cavins, PhD and Heidi Blocker, PhD

##  Exploratory Data Analysis

### Part 1: 

We have a caregiver survey which has over 100 questions. Many of the surveys are not complete, and we have no record if skip logic has been used at all.

- What is the structure of the survey? 
- Classify the questions into some broad categories? 

### Part 2: 

We are going to break the analysis up into the follow categories 

- Natural Language Processing 
- Quantitative Viz 
- Interactive Viz

In [19]:
## Import Libraries 

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Importing the Data

In [8]:
full_lbh = pd.read_excel('./data/full_lbh_dataset.xlsx')

full_lbh.drop(columns='Unnamed: 0', inplace=True)

full_lbh.head()

,StartDate,Progress,Duration (in seconds),Finished,Q148,Q130,Unnamed: 7,Exclusions_Q149,Exclusions_Q137,Exclusions_Q18,...,Q127,Q128,Q129,Q132,Q133,Q130.1,Q136,Q134.1,Q120 - Topics,Unnamed: 141
0,Start Date,Progress,Duration (in seconds),Finished,Consent,NaN,Responded,Exclusions_Q149,Exclusions_Q137,Exclusions_Q18,...,What advice would you give other caregivers in...,What additional services would have been usefu...,What other additional services would have been...,If you were provided an alternative option to ...,What are your concerns or worries about this t...,Thank you for your time and ideas. Is there an...,In the future when we are further along with o...,You mentioned that you have multiple children ...,Q120 - Topics,# of questions answered
1,2017-05-08 17:21:36,1,8,False,"Yes, I wish to continue",NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2
2,2016-10-13 16:39:15,1,9,False,"Yes, I wish to continue",NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2
3,2017-02-02 19:11:25,1,14,False,"Yes, I wish to continue",NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2
4,2016-10-01 06:11:15,1,15,False,"Yes, I wish to continue",NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2

In [6]:
df_lbh = pd.read_csv('./data/lbh_data_exclusionsidentified_forpython.csv')

df_lbh.head()

,Q149,Q137,Q18,Q16,Q17,Q134,Q19,Q20,Q20.1,Q20_1,...,Q126,Q127,Q128,Q129,Q132,Q133,Q130,Q136,Q134.1,Q120 - Topics
0,"Yes, in the past",Yes,Yes,Professional/hired caregiver,NaN,NaN,Yes,We moved from another state,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Yes, in the past",Yes,Yes,Mother,NaN,Yes,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Yes, currently",Yes,Yes,Mother,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Yes, in the past",Yes,Yes,Professional/hired caregiver,NaN,NaN,Yes,We moved from another state,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Yes, in the past",Yes,Yes,Family member other than parent,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Make a table out of the questions

In [15]:
question_header = full_lbh.iloc[0:1]

TypeError: table() takes 0 positional arguments but 1 was given

In [ ]:
## Results Summary

# We have 128 questions